# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Logs
log.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
